.App {
  text-align: center;
  background-image: url(background.png);
  background-repeat: repeat;
}

.App-intro {
}

.App-logo {
  height: 25%;
  pointer-events: none;
  width: 25%;
}

body {
  font-family: var(--font-family);
}